input[type=submit]{
	border: none;
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	border-radius: 7px;
	height: 40px;
	width: 100%;
}

.button-submit-green{
	background-image: linear-gradient(#19D800,#118F00);
}

.button-submit-green:hover{
	background-image: linear-gradient(#14A900,#0B5801);
}
